body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

form h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input::placeholder {
    color: #999;
}

/* Estilos para el mensaje de error */
form p {
    color: #ff0000;
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para el mensaje de error */
    margin-top: 1rem;
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {
    form {
        padding: 1.5rem;
    }

    form h1 {
        font-size: 1.3rem;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    form {
        padding: 1rem;
    }

    form h1 {
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    label {
        font-size: 0.9rem;
    }
}